<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  bootstrap="tests/phpunit-bootstrap.php" 
  cacheResultFile=".phpunit.cache/test-results"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
  colors="true">
  <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <text outputFile="php://stdout"></text>
      <html outputDirectory="public/build/phpunit" lowUpperBound="50" highLowerBound="80"/>
      <clover outputFile="public/build/clover.xml" />
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Kuick Message Broker Test Suite">
      <directory>./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <ini name="date.timezone" value="UTC"/>
  </php>
</phpunit>
